<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow">
  <div class="container">
    <a class="navbar-brand fw-bold" routerLink="/">🐱 Cat Explorer</a>
    <ul class="navbar-nav ms-auto">
      <li class="nav-item"><a routerLink="/breeds" class="nav-link">Razas</a></li>
      <li class="nav-item"><a routerLink="/breeds-table" class="nav-link">Tabla</a></li>
      <li class="nav-item"><a routerLink="/login" class="nav-link">Login</a></li>
      <li class="nav-item"><a routerLink="/register" class="nav-link">Registro</a></li>
    </ul>
  </div>
</nav>

<div class="container mt-4">
  <router-outlet></router-outlet>
</div>
